*{
    padding: 0;
    margin: 0;
  
}


img{
    max-width: 100%;
}


.header{
    text-align: center;
    text-transform: uppercase;
}
.conteinar{
    width: 1080px;
    margin:auto;
    background-color: darkturquoise;
}
.slider{
    margin-bottom: 60px;
}
.navbar{
    overflow: hidden;
    background-color: red;
}
.logo{
    width: 10%;
    float: left;
}

.mainmenu{
    width: 90%;
    float: right;
}
.mainmenu ul {
    list-style: none;
    width: 1080px;
    padding-bottom: 0;
}
.mainmenu ul li {
    float: left;

}
.mainmenu ul li a {
    display: block;
    padding: 20px 50px;
    text-decoration: none;
    text-transform: uppercase;
   
    
}
/*main section*/
.sbox{
    float: left;
    width: 45%;
    display: block;
    padding: 2%;
    text-align: center;
    border: 1px solid red;
}
.mainmenu ul li a:hover{
    background-color: greenyellow;
    color: black;
}
.conteiner{
    width: 1080px;
    margin: auto;
    background-color: darkturquoise;
} 
.bed{
    padding-top: 20px;
    text-align: center;
}
.boxraper2{
    overflow: hidden;
    border: black;
background-color: black;
}
.boxraper h2{
    text-align: center;
    padding: 10px;
}
.box{
    width: 46%;
    float: left;
   box-sizing: border-box;
  padding-left: 20px;
  padding:2%;
 
}
.box a{
    text-decoration: none;
    color: red;
    text-transform: uppercase;
    display: block;
    margin: 0 0;
    width: 50%;
}
.box a:hover{
    background-color: darkturquoise;
    color: white;
}
.box h2{
    color: green;
    padding-bottom: 10px;
}
